body{
   height: 100vh;
   background: linear-gradient(135deg, #d19df2, #7dc7ff);
}

.button{ 
   background: rgb(255, 255, 255);
   border: 2px solid #333;
   width: 200px;
   height: 200px;
   font-size: 16vmin;
   color: rgb(40, 193, 175);
}

.container{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(3, 1fr);
   width: 600px;
   gap: 4px;
   margin: auto;
}

#restart{
   margin-top: 1.5em;
   padding: 1em;
   background-color: rgb(166, 111, 237);
   color: black;
}

